
.blockLogin {
  height: 100vh;
  background:url('../../assets/images/bg.png') no-repeat 100% 100%;
  background-size: cover;
  padding-top:10%;
}

.textLogin {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 42px;
  color:#fff;
}

.TextCheck {
  display: flex;
  gap: 7px;
}

.checkboxcss {
  border-radius: 2px;
  background-color: black;
}

.image {
  display: flex;
  flex-direction: row-reverse;
}
.imageLogin {
 right:0;
 top:0;
  position: absolute;
  opacity: 0.3;
    mix-blend-mode: luminosity;
    z-index: -1;
}

.buttonLogin {
  width: 100%;
  background-color: #2b7fff;
  height: 56px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.download {
  width: 400px;
  height: 300px;
  border-left: 1px solid gray;
}
/* .text-right {
  width: 20px;
  height: 10px;
} */
.formLogin {
  display: flex;
  background: linear-gradient(90deg, rgba(29, 36, 45, 0.95) 44.27%, rgba(84, 104, 129, 0.8) 100%);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.3));
  border-radius:50px;
  margin: 0 10%;
  padding: 90px 75px;
  position: relative;
}
.blockLogin .heading {
  width: 730px;
  color: red;
}
.downloadNow {
  width: 120px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 8px;
  margin-top: 20px;
}
.img {
  box-shadow: -8px 8px 10px gray;
}
.textDownload {
  width: 130px;
  height: 140px;
}

@media (max-width: 1280px) {

  .textLogin {
    font-size: 20px;
  }
}
