//1.2 Normalize
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-base !important;
  font-weight: 400;
  background: #f5f5f9;
  @media (min-width: $screen-lg) {
    min-width: 1100px;
  }
  > iframe {
    display: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

input,
textarea,
.form-control,
button,
.btn {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a {
  color: $base-color;
  text-decoration: none;
  @include transition2;
  &:hover,
  &:focus {
    // color: $theme-color;
    text-decoration: none;
    outline: none;
  }
}
button {
  @include transition2;
  border: none;
}
img {
  max-width: 100%;
}

.text-right {
  text-align: right !important;
}

h2 {
  font-size: 1.5em;
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @media (max-width: $screen-sm) {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @media (max-width: 480px) {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.grid {
  display: grid;
}

// toast

.notifi {
  display: flex;
  align-items: center;
  background: #fff;
  transition: 0.3s ease;
  position: fixed;
  pointer-events: auto;
  overflow: hidden;
  padding: 8px;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
  z-index: 1000;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-message {
  margin: 0;
  text-align: left;
  margin-left: -1px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  font-size: 14px;
  white-space: pre-wrap;
}

.notification-image {
  float: left;
  margin-right: 10px;
  text-align: center;
}

.notification-image i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.custom-toast {
  width: 230px;
  min-height: 56px;
  color: #fff;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bg-success {
  color: $white;
  background-color: rgba(52, 195, 143);
}

.bg-error {
  color: $white;
  background-color: rgba(244, 106, 106);
}

.bg-warning {
  color: #f1b44c;
  background-color: rgba(241, 180, 76, 0.18);
}
.bg-error-call {
  color: #f46a6a;
  background-color: rgba(244, 106, 106, 0.18);
}

.bg-success-call {
  color: #34c38f;
  background-color: rgba(52, 195, 143, 0.18);
}
.bg-inactive{
  background-color: #ffe0db !important;
  color: #ff3e1d !important;
}
.bg-active{
  background-color: #e8fadf !important;
    color: #71dd37 !important;
}
.badge {
  border-radius:0.3rem;
  padding: 3px 5px;
  font-weight: 500;
  font-size: 12px;
}
@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.error-text {
  color: $error;
}

.loading {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.spinning-loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #e5edfc;
  border-left-color: $theme-color;
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 1rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-center {
  text-align: center !important;
}
.text-red-400 {
  color: $red;
}
.col-9{
  width: 66.666666%;
}
.col-8 {
  width: 75%;
}
.col-4 {
  width: 25%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
.col-3 {
  width: calc(100% / 3);
}
// @media (min-width: $screen-xs-max) {
//   .col-6 {
//     &:nth-child(2n-1) {
//       clear: left;
//     }
//   }
// }


.container{
  padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom:  1.625rem;
    width: 100%;
    max-width: inherit;
  @media(min-width:$screen-md){
    padding-right: 1.625rem;
    padding-left: 1.625rem;
  }
}

.row {
  @include clearfix();
  @media(max-width:$screen-xs-max){
    margin: 0 -10px;
  }
  
  [class*='col-'] {
    padding: 0 10px;
    @media(max-width:$screen-xs-max){
    width: 100%;
    }
    @media(min-width:$screen-sm){
      float: left;
    }
  }
}