.page-campaign {
  padding: 10px;
  border-radius: 0.3rem;
  background: $white;
  .box-tabs {
    margin-bottom: 20px;
  }
  .title {
    margin-right: 15px;
    margin-top: 5px;
  }
  .tabs-list {
    margin: 0;
  }
  .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .row {
    @include clearfix();
    margin-left: -10px;
    margin-right: -10px;
    [class*='col-'] {
      padding: 0 10px;
      float: left;
    }
  }
}
