@include shine;
.bg-social {
  background: #5a8dee;
}
.bg-social-sub {
  background: $error;
}
.btn-social {
  display: flex;
  align-items: center;
}
.btn-icon-emoji {
  position: absolute;
  right: 60px;
  color: #bebebe;
  top: 15px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
.chat-wrapper {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  background: $white;
  .btn {
    border-radius: 0.3rem;
  }
  .EmojiPickerReact {
    position: absolute !important;
    bottom: 65px !important;
    right: 0 !important;
  }
  .box-heading {
    font-size: 1.2rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 10px;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .display .form-input-group {
    width: 270px;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .chat-panel-right {
    position: fixed;
    right: 0px;
    background: #fff;
    top: 57px;
    webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .chat-panel-right.active {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .chat-panel-right .box-heading > div {
    padding-left: 45px !important;
  }
}
#conversations-panel {
  width: 100%;
}
@media (min-width: 600px) {
  #conversations-panel {
    width: 300px;
    border-right: 1px solid #e5e5e5;
  }
}

.zalo-wrapper {
  position: relative;
  .form-control {
    // border: 1px solid #ebebeb;
  }
}

@media (min-width: 992px) {
  .zalo-wrapper {
    display: flex;
  }

  .zalo-wrapper.expand .circle-expand {
    color: #5a8dee;
  }
  .zalo-wrapper .sidebar-nav {
    width: 300px;
    border-right: 1px solid #ebebeb;
  }
  .zalo-wrapper .sidebar-nav {
    padding: 15px;
  }
  .zalo-wrapper .tab-content {
    webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: calc(100% - 300px);
  }

  .zalo-wrapper.expand .sidebar-nav {
    opacity: 0;
    transform: translateX(-100%);
    display: none;
    position: absolute;
  }
  .zalo-wrapper.expand .tab-content {
    width: 100%;
  }
}
.zalo-wrapper .sidebar-nav {
  padding: 15px;
  webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.zalo-wrapper .sidebar-nav .menuItem {
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.zalo-wrapper .sidebar-nav .menuItem.active {
  background-color: #e5edfc;
  color: #5a8dee;
}
.zalo-wrapper .sidebar-nav .menuItem.active:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #5a8dee;
}

@media (min-width: 768px) {
  .zalochat-wrapper {
    display: flex;
  }
  .zalochat-wrapper .box-chat-listing {
    width: 320px;
    margin-right: 10px;
    padding-right: 8px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .fb-list {
    width: 104%;
    margin-right: 10px;
    padding-right: 8px;
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
  }
  .wrapper-chat .chat-msg {
    height: calc(100vh - 160px);
  }
  .zalochat-wrapper .box-chat-listing {
    height: calc(100vh - 100px);
  }
  .wrapper-chat .msg-content {
    height: calc(100vh - 220px);
  }

  .zalochat-wrapper .wrapper-chat {
    width: calc(100% - 330px);
  }
  .zalo-wrapper .tab-content {
    padding: 20px;
  }

  .wrapper-chat .msg-content {
    width: calc(100% - 5px);
  }
  // .wrapper-chat .chat-msg{
  //   height: 380px;
  // }
}
@media (min-width: 1367px) {
  // .wrapper-chat .chat-msg {
  //   height: calc(100vh - 150px)
  // }
  // .zalochat-wrapper .box-chat-listing{
  //   height: calc(100vh - 90px)
  // }
  // .wrapper-chat .msg-content {
  //   height: calc(100vh - 210px)
  // }
  #zalofollower .wrapper-chat .msg-content {
    height: 480px;
  }
}
.wrapper-chat .msg-content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 15px;
  width: calc(100% - 5px);
}

.zalo-wrapper .tab-content {
  padding: 20px 20px 20px 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.zalo-wrapper .zalo-logo {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  border-radius: 50%;
}
.zalo-wrapper .zalo-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wrapper-chat .chat-box-top {
  padding: 10px;
  border: 1px solid #ebebeb;
}
.wrapper-chat .chat-box-top .chat-user {
  display: flex;
  align-items: center;
  .chat-more-btn {
    margin-left: auto;
    margin-right: 10px;
  }
  .btn-circle {
    @include circle(36px);
    background: #e5edfc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.wrapper-chat .chat-box-top .chat-user .total-msg {
  font-weight: bold;
  margin-left: auto;
}

.wrapper-chat .chat-box-top .chat-user .username {
  font-weight: bold;
}

.wrapper-chat .chat-box-top .chat-user .photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.wrapper-chat .chat-box-top .chat-user .photo img {
  width: 100%;
  height: 100%;
}
.wrapper-chat .chat-msg {
  background: #f7f7f7;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .wrapper-chat .msg-content::-webkit-scrollbar {
    width: 3px;
    background-color: #eee;
  }

  .wrapper-chat .msg-content::-webkit-scrollbar-thumb {
    background-color: #e5edfc;
    border-radius: 999px;
  }
  .zalochat-wrapper .box-chat-listing::-webkit-scrollbar {
    width: 3px;
    background-color: #eee;
  }

  .zalochat-wrapper .box-chat-listing::-webkit-scrollbar-thumb {
    background-color: #e5edfc;
    border-radius: 999px;
  }

  .fb-list::-webkit-scrollbar {
    width: 3px;
    background-color: #eee;
  }

  .fb-list::-webkit-scrollbar-thumb {
    background-color: #e5edfc;
    border-radius: 999px;
  }
  .fb-list::-webkit-scrollbar {
    width: 3px;
    background-color: #eee;
  }

  .fb-list::-webkit-scrollbar-thumb {
    background-color: #e5edfc;
    border-radius: 999px;
  }
}

.wrapper-chat .msg-content .msg-box {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px 15px 0px 15px;

  padding: 8px 10px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
  max-width: 800px;
  word-break: break-word;
}
.wrapper-chat .msg-content .text-right .msg-seller {
  justify-content: flex-end;
}
.wrapper-chat .msg-content .msg-seller {
  display: flex;
  &.is-loading {
    height: 68px;

    border-radius: 5px;

    .photo {
      background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
      animation: 1.5s shine linear infinite;
    }
    .msg-box {
      background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
      animation: 1.5s shine linear infinite;
      height: 58px;
      border-radius: 5px;
      width: 120px;
    }
  }
}
.wrapper-chat .msg-content .msg-seller .photo {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;

  margin-right: 8px;
}

.wrapper-chat .msg-content .text-right .msg-seller .msg-box {
  background: rgb(90, 141, 238);
  color: #fff;
  margin-top: 5px;
}
.wrapper-chat .msg-content .msg-time {
  font-size: 12px;
  opacity: 0.6;
}
.wrapper-chat .chat-input-holder {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  position: relative;
}
.wrapper-chat .chat-input-holder textarea {
  padding-right: 60px !important;
  height: 64px !important;
  border: none !important;
}
.wrapper-chat {
  position: relative;
}

@media (max-width: 767px) {
  .wrapper-chat .chat-box-top {
    padding-left: 40px;
  }
  .zalochat-wrapper .wrapper-chat {
    position: fixed;
    top: 56px;
    left: 0;
    background: #fff;
    height: calc(100% - 56px);
    width: 100%;
    webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .zalochat-wrapper .wrapper-chat.active {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .wrapper-chat .chat-box-top .chat-user .total-msg {
    font-size: 12px;
  }
  .wrapper-chat .msg-content {
    height: calc(100vh - 240px);
  }
}

.zalochat-wrapper .box-chat-listing h2 {
  margin-top: 0.8rem;
  font-size: 1.2rem;
}

.zalochat-wrapper .box-chat-listing .item {
  padding: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: cennter;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  &.is-loading {
    height: 62px;
    .info {
      height: 42px;
      width: 100%;
      border-radius: 0.5rem;
      background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
      animation: 1.5s shine linear infinite;
    }
  }
}
.zalochat-wrapper .box-chat-listing .item.bg-blue {
  background: linear-gradient(to right, #9aa5ea, #557cf0);
  /* box-shadow: 0 5px 15px 0 rgb(59 130 246 / 50%); */
  color: #fff;
}
.zalochat-wrapper .box-chat-listing .item.bg-blue .fas {
  padding: 6px;
  border-radius: 50%;
  border: 1px dashed #9aa5ea;
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.zalochat-wrapper .box-chat-listing .item .photo {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.zalochat-wrapper .box-chat-listing .item .photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.zalochat-wrapper .box-chat-listing .item .info {
  width: calc(100% - 60px);
}
.zalochat-wrapper .box-chat-listing .item .info .username {
  font-weight: bold;
}
.zalochat-wrapper .wrapper-chat .msg-content .msg-box {
  max-width: 400px;
}

.zalo-wrapper {
  .total-msg {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ebebeb;
  }
}
