// tabs
.tabs-list {
  display: flex;
  position: relative;
  margin: 30px 0;
  &.style-report {
    .tab-item {
      padding: 30px;
      color: #fff;
      min-width: 250px;
      border: none !important;
    }
    .icon {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .tab-item {
    padding: 4px 10px;
    border-radius: 0.5rem;
    border: 1px solid $border-color;
    background: $white;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 10px;
    width: auto;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      border-color: $theme-color;
    }
    p {
      margin: 0;
    }
  }
}
.chart-wrapper {
  .box-tabs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .tabs-list {
      max-width: 100%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      white-space: nowrap;
    }
  }
  .btn-right {
    font-size: 20px;
    cursor: pointer;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
  }
}

@media (min-width: $screen-md) {
  .tabs-list::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  .tabs-list::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.7);
  }
}

.chart-title {
  padding: 10px 15px;
  border-radius: 0.5rem;
  border: 1px solid $border-color;
  font-weight: 600;
  font-size: 0.875rem;
  background: $theme-color;
  border-color: $theme-color;
  color: $white;
  display: inline-block;
  margin: 20px 0;
}

.top-dashboard {
  @include clearfix();
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 20px;
  @media (max-width: $screen-xs-max) {
    overflow-x: auto;
    width: calc(100% + 20px);
    display: flex;
    padding: 20px 0;
  }
  .elm {
    float: left;
    @media (min-width: $screen-sm) {
      width: calc(100% / 3);
      padding: 0 10px;
      margin-bottom: 20px;
    }
    @media (min-width: 1150px) {
      width: calc(100% / 6);
      margin-bottom: 0;
    }
    @media (max-width: $screen-xs-max) {
      flex: 0 0 200px;
      margin-right: 20px;
    }

    .inside {
      padding: 8px;
      @include box-shawdow;
      background: $white;
      border-radius: 0.5rem;
    }
    .box {
      display: flex;
      align-items: center;
    }
    .title {
      font-size: 1rem;
      font-weight: 600;
      margin: 5px 0;
    }
    .number {
      color: $theme-color;
      font-weight: 500;
      font-size: 1rem;
    }
    .icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 0.3rem;
      background: $theme-color;
      font-size: 18px;
      position: relative;
      svg {
        fill: $white;
        @include center;
      }
    }
  }
}

.elmBig {
  float: left;
  @media (min-width: $screen-sm) {
    width: calc(100% / 3);
    padding: 0 10px;
    margin-bottom: 20px;
  }
  @media (min-width: 1150px) {
    width: calc(100% / 3);
    margin-bottom: 0;
  }
  @media (max-width: $screen-xs-max) {
    flex: 0 0 200px;
    margin-right: 20px;
  }
  margin-top: 15px;

  .inside {
    padding: 8px;
    @include box-shawdow;
    background: $white;
    border-radius: 0.5rem;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0;
  }
  .number {
    color: $theme-color;
    font-weight: 500;
    font-size: 1rem;
  }
  .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0.3rem;
    background: $theme-color;
    font-size: 18px;
    position: relative;
    svg {
      fill: $white;
      @include center;
    }
  }
}
.elmBigCall {
  float: left;
  @media (min-width: $screen-sm) {
    width: calc(100% / 2);
    padding: 0 10px;
    margin-bottom: 20px;
  }
  @media (min-width: 1150px) {
    width: calc(100% / 2);
    margin-bottom: 0;
  }
  @media (max-width: $screen-xs-max) {
    flex: 0 0 200px;
    margin-right: 20px;
  }
  margin-top: 15px;

  .inside {
    padding: 8px;
    @include box-shawdow;
    background: $white;
    border-radius: 0.5rem;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0;
  }
  .number {
    color: $theme-color;
    font-weight: 500;
    font-size: 1rem;
  }
  .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0.3rem;
    background: $theme-color;
    font-size: 18px;
    position: relative;
    svg {
      fill: $white;
      @include center;
    }
  }
}

.chart-wrapper {
  border: 1px solid $border-color;
  @include box-shawdow;
  @include clearfix();
  background: $white;
  padding: 0 20px 20px 20px;
  border-radius: 0.5rem;

  &.fullwidth {
    flex-direction: column;
  }
  .chart-column {
    padding: 0 10px;
    float: left;
    &.column-3 {
      width: calc(100% / 3);
    }
    &.column-2 {
      width: calc(100% / 2);
    }
    &.column-1 {
      width: 100%;
      @media (min-width: $screen-sm) {
        padding: 30px 50px;
      }
    }
  }
}
.chart-row {
  @include clearfix();
  margin: 0 -10px;
  [class*='col-'] {
    padding: 0 10px;
    float: left;
  }

  .col-5 {
    @media (min-width: $screen-md) {
      width: 41.66%;
      float: left;
      padding: 0 10px;
    }
    width: 100%;
  }
  .col-7 {
    @media (min-width: $screen-md) {
      width: 58.33%;
      float: left;
      padding: 0 10px;
    }
    width: 100%;
  }
}
.displayGrid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 1.3%;
}
.right {
  float: right;
}
.textRight {
  text-align: right;
}
.fontW-6 {
  font-weight: 600;
}
.fontW-5 {
  font-weight: 500;
}
.fontW-7 {
  font-weight: 700;
}
.color-1 {
  color: gray;
}
