// Form control
.form-control {
  width: 100%;

  padding: 0 10px;
  border-radius: 0.3rem;

  height: 36px;
  background: $white;
  [readonly] {
    background: #f1f2f3 !important;
    cursor: not-allowed;
  }
  &.br {
    border: 1px solid #ebebeb;
  }
  &:disabled {
    border-color: $border-color2;
    color: $place-color;
    background: #f1f2f3 !important ;
    cursor: not-allowed;
    pointer-events: all !important;
  }

  &:focus {
    box-shadow: 0 0 5px 2px rgb(194 213 255 / 62%) !important;
    border-color: $theme-color !important;
    
  }
  &.is-invalid {
    border: 1px solid $error !important;
  }
  &:invalid {
    border: 1px solid $error !important;
  }
  &.textarea {
    height: inherit !important;
    padding: 10px;
  }
  &.multi-select{
    height: inherit !important;
  }
}

.form-input {
  position: relative;
}
// button
.btn-smart {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgb(59 130 219 / 50%);
  border-radius: 0.5rem;
  background: $white;
}
.btn {
  color: $white;
  padding: 0 1.25rem;
  display: inline-block;
  text-align: center;
font-weight: 400;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgb(59 130 246 / 50%);
  height: 36px;
  border-radius: 0.3rem;
  font-size: 0.9375rem;
  &.bg-org {
    background: linear-gradient(97.29deg, #f3b05d 1.16%, #f38a5d 81.65%);
  }
  &.bg-blue {
    background: linear-gradient(289.53deg, #3e61b8 7.11%, #65a2ea 100%);
  }
  &.bg-theme {
    background: $theme-color;
  }
  &.btn-login{
    border-radius: 5px;
    width: 100%;
    background: $theme-color;
    margin-top: 20px;
    height: 40px;
    &:disabled {
      
      opacity: .5;
      
  }
}
  &.outline{
    background: $white;
    color: $base-color;
    box-shadow: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    border:1px solid #8592a3;
    &:hover  ,&:focus {
      color: $base-color;
    }
  }
  &:hover,
  &:focus {
    color: $white;
  }
  &:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity: 0.8;
  }
  .spinner {
    opacity: 0;
    width: 0;
    overflow: hidden;
    @include transition2;

    visibility: hidden;
    position: absolute;
    &.active {
      width: 19px;
      margin-right: 10px;
      opacity: 1;
      visibility: visible;
      margin-right: 5px;
      position: relative;
    }
  }

  .txt {
    flex-grow: 1;
  }
}
.btn-outline {
  font-weight: 600;
  padding: 0 17px;
  border-radius: 0.3rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  box-shadow: none;
  &.br-theme {
    color: $theme-color;
    border-color: $theme-color;
    background: $white;
  }
}
// phone box

.phonecall {
  @include circle(36px);

  background: $error;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 280px;
  top: 8px;

  cursor: pointer;

  position: fixed;
  z-index: 10;
}

.pulse::before {
  content: '';
  position: absolute;
  background: radial-gradient(60.42% 60.42% at 50% 50%, rgba(176, 0, 32, 0.72) 0%, rgba(176, 0, 32, 0) 100%);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}

.pulse::after {
  content: '';
  position: absolute;
  background: radial-gradient(60.42% 60.42% at 50% 50%, rgba(176, 0, 32, 0.72) 0%, rgba(176, 0, 32, 0) 100%);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.custom-checkbox {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  cursor: pointer;
  span {
    font-weight: 500;
  }
  &:hover {
    color: $theme-color;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    margin-right: 5px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    border: 2px solid $black;

    i {
      transform: scale(0);
      transition: transform 0.3s ease;
    }
  }

  input:checked ~ &__checkmark {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
  }

  input:checked ~ &__checkmark > i {
    transform: scale(1);
  }
  input:disabled~ &__checkmark {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// dropfile

.drop-file-input {
  position: relative;
  width: 100%;
  height: 100px;
  border: 2px dashed $theme-color;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eee;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  font-weight: 600;
  padding: 10px;
  .fa {
    color: $green;
    font-size: 30px;
  }
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 15px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.drop-file-preview__item img {
  width: 50px;
  margin-right: 20px;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  hyphens: auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 80%;
}

.drop-file-preview__item__del {
  background-color: $theme-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: $white;
  cursor: pointer;
}
