.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    @media(min-width:$screen-lg){
        padding-left: 4rem;
    }
   margin: 0 20px;
    a{
        color: $theme-color;
    }
}