.board {
  min-width: 290px;
  width: 290px;
  height: 100%;
  overflow-y: auto;
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  color: #17394d;
  .form-control {
    border: 1px solid #ddd;
  }
}
.board-inner {
  border-radius: 3px;
  padding-top: 15px;
}
.board-header {
  background: $theme-color;
  padding: 10px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  position: relative;
  .btn-next {
    background: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 10px;
    font-weight: bold;
  }
  .form-control {
    width: calc(100% - 100px);
    height: 28px;
    border: none;
    @include placeholder(#eee, 14px);
    font-size: 14px;
    padding-right: 60px;
  }
  .edit-board {
    position: absolute;
    right: 39%;
    top: 10px;
    color: $green;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.del-board {
      right: 47%;
      color: $red;
    }
  }
}

.board-header-title {
  font-weight: bold;
  font-size: 1rem;
  color: $white;
  margin-bottom: 0;
  &.is-edit {
    cursor: pointer;
  }
}

.board-header-title span {
}

.board-header-title-more {
  cursor: pointer;
  position: relative;
}

.board-dropdown {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  width: 150px !important;
  cursor: default;
}
.board-dropdown p {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.board-cards-scroll {
  overflow-y: auto;
  height: calc(100vh - 200px);
}
.board-cards {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  &.empty-board {
    position: relative;
    .lead-form {
      z-index: 10;
    }
    .empty-card {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      padding-top: 500px;
    }
    .board-add-card {
      z-index: 10;
    }
  }
}
.lead-form {
  padding: 10px;
  @include box-shawdow;
  border-radius: 0.5rem;
}
.lead-form-edit {
  @include clearfix();
  .form-input-group {
    @media (min-width: $screen-sm) {
      width: calc(100% / 3);
    }
    float: left;
    padding: 0 10px;
    @media (min-width: $screen-sm) {
      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }
  .form-control {
    border: 1px solid #dedede;
  }
}
.board-add-card {
  background-color: #fff;
  color: #000;
  border-radius: 0.3rem;
  width: 100%;
  text-align: center;
}
.board-add-card-edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.boards {
  display: flex;
  .board {
    margin-right: 20px;
  }
  .mark {
    @include circle(26px);
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    position: absolute;
    top: 10;
    right: 10px;
  }
  .swatch {
    margin-right: 8px;
  }
  .swatch-color {
    @include circle(10px);
  }
  .card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 0.5rem;
    @include box-shawdow;
    cursor: pointer;
    position: relative;
    &:hover {
      .edit-icon {
        opacity: 1;
      }
    }
    .card-inside {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 5;
    }
    .edit-icon {
      position: absolute;
      top: 15px;
      right: 10px;
      opacity: 0;
    }
    .custom-checkbox {
      border-bottom: 1px dashed #dedede;
      padding-bottom: 15px;
      z-index: 10;
      position: relative;
    }
    &.is-loading {
      height: 245px;

      border-radius: 5px;

      .card-title {
        background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
        background-size: 200% 100%;
        -webkit-animation: 1.5s shine linear infinite;
        animation: 1.5s shine linear infinite;
        height: 24px;
        border-radius: 5px;
      }
      .card-footer {
        background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
        background-size: 200% 100%;
        -webkit-animation: 1.5s shine linear infinite;
        animation: 1.5s shine linear infinite;
        height: 45px;
        border-radius: 5px;
      }
    }
  }

  .card-top {
    display: flex;
    align-items: flex-start;
    .photo {
      @include circle(30px);
      display: flex;
      align-items: center;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .info {
      margin-left: 8px;
    }
  }

  .card-top-labels {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 14px;
    line-height: 21px;
  }

  .card-top-labels label {
    border-radius: 40px;
    padding: 4px 12px;
    background-color: gray;
    color: #fff;
    width: fit-content;
  }

  .card-top-more {
    width: 30px;
    height: 20px;
    transform: translateX(15px);
    flex: 1;
    cursor: pointer;
    opacity: 0;
    transition: 200ms;
  }

  .card:hover .card-top-more {
    opacity: 1;
  }

  .card-title {
    flex: 1;
    font-weight: 600;
    font-size: 0.875rem;

    span {
      color: $theme-color;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed #dedede;
    padding-top: 15px;
  }

  .card-footer-item {
    border-radius: 999px;
    padding: 4px 12px;
    background-color: $green;
    color: #000;
    width: fit-content;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: $white;
    margin-bottom: 0;
  }

  .comment-icon {
    display: flex;
    align-items: center;
    .number {
      margin-left: 5px;
      font-size: 12px;
    }
  }
  .card-footer-icon {
    height: 13px;
    width: 13px;
  }

  .card-footer-user {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  //   input

  .custom-input {
    width: 100%;
  }

  .custom-input-display {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    width: fit-content;
    transition: 200ms;
  }

  .custom-input-display:hover {
    background-color: #ddd;
  }

  .custom-input-edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .custom-input-edit input {
    border: 2px solid #0079bf;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
  }

  .custom-input-edit-footer {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .custom-input-edit-footer button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #0079bf;
    color: #fff;
    border: none;
    transition: 100ms ease;
    padding: 10px;
  }
  .custom-input-edit-footer button:hover {
    background-color: #046daa;
  }

  .custom-input-edit-footer button:active {
    transform: translateY(2px);
  }

  .custom-input-edit-footer .closeIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  //   dropdown
  .dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border-radius: 3px;
    min-height: 40px;
    min-width: 80px;
    width: fit-content;
    height: fit-content;
    max-width: 250px;
    max-height: 390px;
    overflow-y: auto;
    z-index: 5;
  }
}

.pu-trello {
  .wrapper-chat .msg-box-holder {
    &.is-loading {
      .msg-seller {
        background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        -webkit-animation: 1.5s shine linear infinite;
        animation: 1.5s shine linear infinite;
        height: 58px;
        margin-bottom: 10px;
      }
    }
  }
  .wrapper-chat .msg-content {
    height: calc(100vh - 540px);
    // height: inherit;
  }
  .wrapper-chat .chat-msg {
    height: calc(100vh - 540px);
    // height: inherit;
  }
  .EmojiPickerReact {
    position: absolute !important;
    bottom: 65px !important;
    right: 0 !important;
  }
  .content {
    @media (min-width: $screen-sm) {
      max-height: 600px;
      overflow-y: scroll;
    }
  }
  .pu-heading {
    display: none;
  }
  .title-1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    .btn {
      font-size: 14px;
      margin-left: auto;
    }
  }
  .accordion__title {
    cursor: pointer;
    span {
      margin-left: 10px;
    }
    .accordion__icon {
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
  .title {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dedede;
    padding-bottom: 8px;
  }
  .kanban-comment {
    display: flex;
    align-items: center;

    .info {
      margin-left: 10px;
      width: calc(100% - 70px);
    }
    .photo {
      @include circle(60px);
      margin-bottom: auto;
      border: 1px dashed #ccc;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.board-cards-scroll::-webkit-scrollbar {
  width: 3px;
  background-color: #eee;
}

.board-cards-scroll::-webkit-scrollbar-thumb {
  background-color: #e5edfc;
  border-radius: 999px;
}
.board-cards-scroll::-webkit-scrollbar {
  width: 3px;
  background-color: #eee;
}

.board-cards-scroll::-webkit-scrollbar-thumb {
  background-color: #e5edfc;
  border-radius: 999px;
}
