.BlockTap {
  gap: 1%;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.tabGrid {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin-top: 10px;
}

.cssTap {
  display: flex;

  margin-top: 10px;
  background-color: #f1f1ff;
}
.valueTap {
  padding: 20px;
  background-color: white;
  height: 100%;
  padding-bottom: 20px;
}
.keysTap {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  height: 40px;
  margin-left: 5px;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
.Blocktemplate2 {
  display: grid;
  gap: 1%;
  grid-template-columns: 30% 69%;
}
.flexDirection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.cssCheckBox {
  border: 1px solid black;
}
.flex {
  display: flex;
  gap:0 10px;
}
.flex-dis {
  display: flex;
  flex-direction: row-reverse;
}
.flex_item {
  display: flex;
  align-items: center;
}
.flex_jconten {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  justify-content: space-between;
}
.colorLink {
  color: blue;
  cursor: pointer;
}

.feature {
  position: absolute;
  top: 0px;
  left: 30px;

  margin-top: 20px;
  margin-left: 30px;
  height: 230px;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 14px;
  background-color: white;
  padding: 10px;
  z-index: 10;
}
.featureBlockChild {
  height: 30px;
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
  padding-left: 8px;
}
.featureFast {
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
}
.featureBlockChild:hover {
  background-color: #eeeeee;
  border-radius: 5px;
}
.textFeature {
  margin-left: 9px;
  color: black;
  font-weight: 700;
  font-size: 13px;
}
.center {
  display: flex;
  justify-content: center;
}

/* icon */
.IconFeature {
  font-size: 20px;
  font-weight: 500;
  color: #444444;
  text-shadow: -5px -1px 10px #4d4c4d;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}
.featurePhone {
  transform: rotate(105deg);
}
.FilterDasborad {
  grid-template-columns: 50% 20% 20% 8%;
}

@media ((max-width: 1400px)) {
  .FilterDasborad {
    grid-template-columns: 40% 25% 25% 8%;
  }
}
