@import 'components/variables.scss';
@import 'components/mixin.scss';
@import 'components/base.scss';
@import 'components/element.scss';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/chat.scss';
@import 'components/kanban.scss';
@import 'components/dashboard.scss';
@import 'components/campaign.scss';
@import 'components/popup.scss';


.input-search{
  border:1px solid $border-line;
  width: 200px;
  margin-left:auto;
}
.form-input-group {
  margin-bottom: 10px;
  &.inline {
    @media(min-width:$screen-xs){
      display: flex;
    }
    p {
      margin-top: 5px;
      flex: 0 0 150px;
    }
    .form-control {
      width: 100%;
      display: block;
      background: #efefef;
      box-shadow: inset 0px -1px 0px #dddddd;
      border-radius: 5px;
      border: none;
      outline: none;
      height: 40px;
      padding: 0 25px 0 10px;
      font-weight: 400;
      position: relative;
      font-size: 14px;
      appearance: none;
      line-height: 16px;
      &:disabled {
        color: #777;
      }
    }
    textarea.form-control {
      padding-top: 10px;
    }
    &.border {
      .form-control {
        background: transparent;
        box-shadow: none;
        border: 1px solid #ddd;
      }
    }
  }
  > label {
    margin-bottom: 0.3rem;
    display: block;
  }
  p,
  span,
  .label-name {
    font-weight: 500;
  }
  .clear-search{
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
  }
}
.search-wrapper{
  .form-control{
    padding-right: 30px;
  }
}
.auth-login-bg {
  background: linear-gradient(45deg, #0e42ff, #73b4ff);
  min-height: 100vh;
  position: relative;
  padding-top: 15%;
  .bg-decor {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 8rem;
    width: 100%;
    transform: translate(0, -50%) rotate(0) skewX(0) skewY(-6deg) scaleX(1) scaleY(1);
    background-color: rgb(255 255 255/0.2);
  }
}

.form-login {
  max-width: 500px;
  margin: 0 auto;
  background: $black;

  padding: 15px 30px;
  border-radius: 1.25rem;
  box-shadow: 0 2px 14px rgb(38 60 85 / 16%);
  position: relative;
  .form-input-group {
    > label {
      color: $white;
    }
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: $white;
  }
}

// layout

.layout-page {
  @media (min-width: 812px) {
    padding-left: 16.25rem;
    &.menu-collapse{
      padding-left: 5.25rem;

      .menu-vertical{
        width: 5.25rem;
        .sub-menu{
          display: none !important;
        }
        .btn-hide-nav{
          right: -30px;
          left: inherit;
          
        }
        .menu-toggle span{
          span{
            display: none;
          }
        }
      }
    }

  }
  @media(max-width:812px){
    .layout-overlay{
      position: fixed;
      top: 0;
      right: 0;
      height: 100% !important;
      left: 0;
      visibility: hidden;
      background: #435971;
      opacity: .5;
      cursor: pointer;
      
    }
    &.menu-collapse{
      
        
      
    .layout-overlay {
      visibility: visible;
      z-index:1099;
      
    }
    .menu-vertical {
      z-index: 1100;
      transform: translate3d(0, 0, 0) !important;
      
      
        .btn-hide-nav{
          opacity:1;
        }
    }
  }
  }
  .submenu-sidebar {
    left: -255px;
    position: fixed;
    height: 100%;
    height: calc(100vh - 0px);
    top: 0;
    width: 225px;
    padding: 8px 0;
    z-index: 1031;
    border-left: 1px solid #f1f1ff;
    background: #f1f1ff;
    box-shadow: 0 4.4px 45.3px -14px rgb(0 0 0 / 15%), 0 35px 97px -14px rgb(0 0 0 / 8%);

    &.show {
      left: 65px;
    }
    h2 {
      color: $f-heading;
      font-weight: 600;
      padding: 11px 32px;
      font-size: 1.25rem;
      margin-bottom: 0;
    }
  }
  .menu-vertical {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;


    z-index: 20;
    
  
    box-shadow: 0 0.125rem 0.375rem 0 rgba(161,172,184,.12);
    border-radius: 0 10px 0 0;
    background-color: $white;
    color: #697a8d;
    
      width:16.25rem;
      transition: width .3s;
    @media(max-width:812px){
      transform: translate3d(-100%, 0, 0);
      height: 100%;
      .btn-hide-nav{
        opacity:0;
      }

    }
    
  }
  .btn-hide-nav{
    @include circle(38px);
    background-color: $theme-color;
    border: 7px solid #f5f5f9;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    position: absolute;
    left: 15rem;
    top: 12px;
  }
  .site-logo {
    color: $white;
    margin: 0 0 11px 0;
    padding: 12px 22px;
    border-bottom: 1px solid $border-color;
  }
  .tooltip {
    position: absolute;
    top: 5px;
    background: #515365;
    opacity: 0;
    left: 67px;
    padding: 3px 4px;
    border-radius: 4px;
    font-size: 12px;
    min-width: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 11%);
    pointer-events: none;
    @include transition2;
    span {
      display: block;
      min-width: 14px;
      width: 100%;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: -3px;
      margin-top: -3px;
      content: '';
      display: inline-block;
      border-top: 3px solid transparent;
      border-right: 3px solid #515365;
      border-bottom: 3px solid transparent;
    }
  }
  .submenu {
    display: none;
    &.show {
      display: block;
    }
  }
  .submenu-list {
    li {
      a {
        padding: 9px 32px;
        display: block;
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 0;
      }
    }
  }
  .menu-main {
    .menu-item {
      white-space: nowrap;
      position: relative;
      margin: 0.0625rem 0;
      &:before{
        content: "";
        position: absolute;
        right: 0;
        width: 0.25rem;
        height: 2.8rem;
        border-radius: 0.375rem 0 0 0.375rem;
      }
      &:hover {
        .tooltip {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      &.active{
        &:before{
          background: $theme-color;
        }
      }
      .menu-toggle {
        @include transition2;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        margin: 0 1rem;
        padding:.625rem 1rem;
        border-radius: 0.375rem;
        cursor: pointer;
        &:hover{
          background: rgba(67,89,113,.04);
        }
        svg {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
        }
        .icon-arrow{
          position: absolute;
          right: 0;
          height: 100%;
          width: 30px;
          line-height: 40px;
        }
      }

      &.active {
       
        .menu-toggle {
          //box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 11%);
          background: $theme-color;
          
          span{
            color: $white
          }
        }
        .sub-menu{
          display: block;
        }
      }
    }
  }
  .sub-menu{
    display: none;
    .menu-item{
      padding: 5px 15px;
      .menu-toggle{
        opacity: .5 !important;
        background: none !important;
        padding-left: 3rem;
        &:before{
          content: "";
          position: absolute;
          left: 1.4375rem;
          width: 0.375rem;
          height: 0.375rem;
          border-radius: 50%;
          background: #b4bdc6 ;
        }
        &.active{
          opacity: 1 !important;
          &:before{
            background: $theme-color;
          }
        }
      }
    }
    
  }
}
.menu-vertical:not(.menu-no-animation) {
  transition: width .3s
}


// content
.main-content {
  margin-top: 30px;

  // padding: 0 20px 0 20px !important;
  //min-height: calc(100vh - 125px) !important;
  // margin-left: 60px;
  @media (min-width: $screen-lg) {
    // margin-left: 15px;
  }
  &.has_menu {
    margin-left: 200px;
    @media (min-width: $screen-md) {
      padding-left: 16.25rem;
    }
  }
}

// table

.table-wrapper {
  background: #fff;
  border: 1px solid #d4d8dd;
  border-radius: 0.5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  .form-control {
    border: 1px solid #ebebeb;
  }
  .table {
    font-size: 0.875rem;
    width: 100%;
    thead th {
      background: #ebebeb;
      height: 46px;
      text-transform: capitalize;
      text-align: left;
      &:first-child {
        border-top-left-radius: 0.5rem;
      }
      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }
    tbody tr:not(:last-child) {
      border-bottom: 1px solid #ebebeb;
    }
    tbody td,
    th {
      vertical-align: middle;
      padding: 10px;
    }
  }
}
.btn-trash,
.btn-edit {
  box-shadow: none;
  border-radius: 0.3rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  svg {
    fill: $white;
    font-size: 10px;
  }
}
.btn-trash {
  background: $red;
}
.btn-edit {
  background: $yl;
}
//
.table-bottom {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.pagination {
  display: flex;
  align-items: center;
  .page-item {
    margin: 0 2px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &.bg-theme {
      background: $theme-color;
      a {
        color: $white;
      }
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      a {
        color: #777;
        font-size: 0.875rem;
        background: transparent;
      }
    }
  }
}
.box-select {
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 0.875rem;
}
//

.section {
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
  &.box-general {
    border: none;
    box-shadow: none;
    .heading {
      font-size: 25px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
  &.general-info {
    border-radius: 0.5rem;
    background: $white;
    padding: 20px;
    .form-control {
      border: 1px solid #ddd;
    }
    .heading {
      margin-bottom: 20px;
      font-weight: 600;
    }
    .info {
      @media (min-width: $screen-sm) {
        display: flex;
      }
      @media (min-width: $screen-md) {
        max-width: 90%;
      }
      margin: 0 auto;
      .photo {
        @media (min-width: $screen-md) {
          width: 120px;
          height: 120px;
        }
        width: 60px;
        height: 60px;

        margin-right: 40px;
        border-radius: 50%;
        position: relative;
        border: 2px dashed $theme-color;
        @media (max-width: $screen-xs-max) {
          margin: 0 auto;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        input {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 32px;
          height: 32px;
          opacity: 0;
        }
        .edit {
          @include circle(26px);
          display: flex;
          align-items: center;
          justify-content: center;
          background: $theme-color;
          color: $white;
          font-size: 10px;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 2px;
          border: 1px solid $white;
        }
      }
      .user-info {
        @media (min-width: $screen-sm) {
          width: 700px;
        }
      }
    }
  }
}
.box-form {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: $white;
  padding: 15px;
  .box-upload-photo {
    display: flex;
    align-items: center;
  }
  .photo {
    @include circle(100px);
    border: 1px solid;
    position: relative;
    .button-actions {
      @include center;
      top: inherit;
      bottom: 0;
      .form-input-group {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
      }
      .form-control {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        background: transparent;
      }
      svg {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        cursor: pointer;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.msg-content {
  // max-width: 650px;
  // margin: 0 auto;
}
.list-feed {
  background: $white;
  border-radius: 0.3rem;
  &.is-loading {
    height: 120px;

    border-radius: 5px;

    .box-top {
      background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
      animation: 1.5s shine linear infinite;
      height: 36px;
      border-radius: 5px;
    }
    .content {
      background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
      animation: 1.5s shine linear infinite;
      height: 24px;
      border-radius: 5px;
    }
    .box-bottom {
      background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
      background-size: 200% 100%;
      -webkit-animation: 1.5s shine linear infinite;
      animation: 1.5s shine linear infinite;
      height: 24px;
      border-radius: 5px;
    }
  }
  .list-feedchild {
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 30px;
    border-top: 1px solid #eee;
  }
  .item {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    .box-bottom {
      display: flex;

      .actions {
        display: flex;
        align-items: center;
        margin-top: 7px;
        margin-left: 15px;
        color: #4e7bd8;
        .comment-act,
        .like-act {
          cursor: pointer;
        }
        .like-act {
          display: flex;
          align-items: center;
          svg {
            margin-right: 5px;
          }
        }
        .comment-act {
          display: flex;
          align-items: center;
          margin-right: 15px;
          svg {
            margin-right: 5px;
          }
        }
      }
    }
    .box-top {
      @include flex;
      align-items: center;
    }
    .date {
      margin-top: 10px;
      color: #999;
      font-size: 13px;
    }
    .content {
      margin-top: 10px;
      font-size: 1rem;
      p {
        margin-bottom: 0;
      }
    }
    .photo {
      @include circle(36px);
      border: 1px solid;
      margin-right: 10px;
      
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
// phone box
.btn-connect {
  margin-left: auto;
  margin-right: 15px;
  @include circle(36px);
  padding: 0;
  background: $theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.softphone-dialog {
  width: 284px;
  border-radius: 0.5rem;
  background: #f1f1ff;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  display: block;
  .photo {
    @include circle(70px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    padding: 15px;
  }
  .callButton {
    @include circle(55px);
    background: linear-gradient(262.92deg, #66d54b 6.49%, #17c653 108.73%);
    box-shadow: 0px 4px 24px rgb(50 153 150 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .endCallButton {
    @include circle(55px);
    background: $error;
    box-shadow: 0px 4px 24px rgb(50 153 150 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .form-control-phone {
    background: transparent;
    width: 100%;
    border: none;
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  .dialpad-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 0.5rem;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  .dial-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    background: #fff;
    margin: 0 -8px;
    margin-bottom: 16px;
    margin-top: 8px;
    .btn {
      box-shadow: none;
      color: $black;
      font-size: 1.25rem;
      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
  .dialpad-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .dialpad-number {
      display: flex;
      width: calc((100% / 3) - 5px);
      padding: 0 5px;

      .dialpad-number-circle {
        font-size: 1.875rem;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        margin: 8px 0;
        border-radius: 0.5rem;
      }
    }
  }
  .sipStatusPlaceholder {
    position: relative;
    padding-left: 15px;
    &:before {
      content: '';
      @include centeralways;
      left: 0;
      @include circle(8px);
    }
    &.connected {
      &:before {
        background: $bg-connect;
      }
    }
    &.connecting {
      &:before {
        background: $bg-warning;
      }
    }
    &.disconnected {
      &:before {
        background: $error;
      }
    }
  }
}
.alert {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  &.bg-success {
    .notification-image {
      margin-right: 8px;
    }
  }
  .notification-image {
    width: 20px;
    margin-right: 3px;
  }
  .text-message {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
}

#rangePhone {
  background: linear-gradient(to right, rgb(154, 165, 234) 0%, rgb(154, 165, 234) 100%, #fff 50%, #fff 100%);
  border-radius: 0.3em;
  height: 7px !important;
  width: 100%;
  outline: none;
  transition: 450ms ease-in;
  -webkit-appearance: none;
  padding: 0;
  border: none !important;
  border-radius: 3px !important;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  cursor: ew-resize;
  background: white;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 50%);
}
// react-datepicker

.custom-datepicker {
  width: 100%;
  &.w-auto {
    width: auto !important;
  }
  .react-datetime-picker__inputGroup__input {
    height: inherit;
    padding: 6px;
  }
  .react-date-picker__inputGroup__input {
    height: 36px;
    line-height: 36px;
    padding: 0 !important;
  }
  .react-calendar {
    padding: 5px 10px 10px 10px;
  }
  .react-date-picker__calendar {
    width: 300px;
  }
  abbr[title] {
    text-decoration: none;
    text-transform: capitalize;
  }
  .react-date-picker__wrapper,
  .react-datetime-picker__wrapper {
    border-color: #e1e5eb;
    border-radius: 0.3rem;
    width: 100%;
    background: $white;
    padding: 0;
  }
  .react-date-picker__wrapper
  .react-date-picker__inputGroup {
    padding: 0 10px;
  }
  .react-date-picker__button__icon {
    color: #e1e5eb;
    width: 15px;
    svg {
      fill: #e1e5eb;
    }
  }
  .react-calendar {
    border-color: #e1e5eb;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    box-shadow: 0 0.5rem 4rem rgb(0 0 0 / 11%), 0 10px 20px rgb(0 0 0 / 5%), 0 2px 3px rgb(0 0 0 / 6%);
  }
  .react-calendar__navigation__label {
    color: #5a6169;
    font-weight: 600;
  }
  .react-calendar__tile--active {
    color: $white !important;
    background: $theme-color !important;
    border-radius: 0.3rem;
    font-weight: 600;
  }
  .react-calendar button:hover,
  .react-calendar button:focus {
    border-radius: 0.3rem;
  }
  .react-calendar__tile--now.react-calendar__year-view__months__month,
  .react-calendar__tile--now.react-calendar__decade-view__years__year,
  .react-calendar__tile--now.react-calendar__century-view__decades__decade {
    background: $theme-color;
    color: $white;
    border-radius: 0.3rem;
  }
  .react-calendar__tile--now.react-calendar__month-view__days__day {
    border: none !important;
    background: $white;
    border-radius: 0.3rem;
    color: $theme-color;
    font-weight: bold;
    position: relative;

    &:before {
      content: '';
      @include centeralways;
      @include circle(5px);
      top: inherit;
      bottom: 0;
      background: $theme-color;
      margin-left: 2px;
    }
  }
  .react-calendar__month-view__days__day--weekend {
    color: $red;
  }
  .react-calendar__navigation {
    align-items: center;
  }
  .react-calendar__navigation__arrow {
    border: 1px solid #e1e5eb;
    border-radius: 0.5rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
    min-width: inherit;
    box-shadow: 0 0.5rem 4rem rgb(0 0 0 / 11%), 0 10px 20px rgb(0 0 0 / 5%), 0 2px 3px rgb(0 0 0 / 6%);
    margin-right: 5px;
    &:hover,
    &:focus {
      background: $white !important;
    }
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background: $white;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    font-size: 12px;
  }
  .react-calendar__navigation button:disabled {
    background: $white;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 1em 0.5em;
  }
}
.custom-datepicker-new {
  .react-date-picker__wrapper,
  .react-datetime-picker__wrapper{
    border-color: #e1e5eb;
    border-radius: 0.3rem;
    width: 100%;
    background: $white;
    padding: 4px 10px ;
  }
}
// editor style

.editor-custom-wrapper {
  border: 1px solid #eee;
  background: $white;
  margin-top: 15px;
  .rdw-emoji-modal {
    right: 0;
    left: inherit !important;
  }
  .rdw-link-modal {
    height: 250px;
  }
  .rdw-link-modal-target-option input {
    border: 1px solid;
  }
  .rdw-embedded-modal,
  .rdw-image-modal {
    right: 0;
    left: inherit;
    width: 250px;
  }
  .public-DraftStyleDefault-block {
    margin: 0;
  }
  .DraftEditor-root {
    margin: 1em 0;
  }
  .form-control {
    border: none !important;
  }
}

.empty {
  svg {
    margin: 30px auto 10px auto;
    font-size: 80px;
    fill: #eee;
  }
}
// success status
.status {
  display: inline-block;
  &.is_success {
    color: $green;
    fill: $green;
  }
  &.is_error {
    color: $red;
    fill: $red;
  }
}

.form-board {
  .row {
    @include clearfix();
    margin: 0 -10px;
    [class*='col-'] {
      padding: 0 10px;
      float: left;
    }
  }
}

.filter-box {
  display: flex;
  align-items: center;
  background: #ebebeb;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 5px 0;
  &.style2{
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    display: block;
    .box-add-filter {
      margin: 0;
     .btn{
      width: 36px;
      padding: 0 10px;
     }
    }
  }
  .clear-text {
    font-weight: bold;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  > span {
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
  }
  select.form-control {
    width: 150px;
  }
  .form-control {
    border: 1px solid $theme-color;
    width: 180px;
    margin-right: 10px;
    font-size: 14px;
  }
  .box-add-filter {
    position: relative;
    margin-right: 10px;
  }
  .dropdown-menu {
    background: #fff;
    border: 1px solid #d4d8dd;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgb(168 180 208 / 10%);
    display: none;
    font-size: 0.875rem;
    min-width: 280px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 20;
    &.active {
      webkit-animation-fill-mode: both;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
      display: block;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 10px;
      padding-bottom: 10px;
      .text {
        color: $theme-color;
        font-size: 12px;
        font-weight: bold;
        float: right;
        cursor: pointer;
      }
    }
    .drp-list {
      width: 100%;
    }
    .form-control {
      width: 100%;
    }
  }
}
.filter-tag {
  // height: 40px;
  margin-top: 10px;
  .filter-tag-item {
    min-width: 80px;
    height: 30px;
    line-height: 30px;
    background: #ebebeb;
    border: 1px solid #ddd;
    font-weight: bold;
    border-radius: 0.3rem;
    padding: 0 5px;
    padding-right: 30px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    .btn-remove {
      position: absolute;
      right: 2px;
      top: 8px;
    }
    span {
      margin-right: 5px;
    }
  }
}
.custom-select-drp {
  background: #fff;
  border: 1px solid #ebebeb;
  width: 150px;
  display: inline-block;
  height: 38px;
  position: relative;
  border-radius: 0.3rem;
  cursor: pointer;
  &.outline{
    border:1px solid #8592a3;
  }
  &.style-color {
    width: 100%;
    .swatch {
      margin-right: 8px;
    }
    .swatch-color {
      @include circle(20px);
    }
    .drp-list {
      width: 100%;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
  .cus-icon-select {
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 10px;
    top: 18px;
    font-size: 22px;
  }
  &.open {
    .drp-list {
      display: block;
    }
  }
  .drp-list {
    position: absolute;
    top: 41px;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 2;
    background: #fff;
    list-style: none;
    width: 180px;
    max-height: 290px;
    overflow-y: scroll;
    -webkit-box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
    border-radius: 3px;
    li {
      width: 100%;
      margin-top: 1px;
      padding: 10px;
      text-align: left;
      cursor: pointer;
      &:hover {
        background: #ebebeb;
        font-weight: bold;
      }
    }
  }
  .select-box {
    position: relative;
    z-index: 1;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 38px;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    padding: 8px 0;
    background: transparent;
    border: 0;
    margin: 0;
    padding-right: 30px;
    display: inline-block;
  }
}
.custom-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid #ebebeb;
}
.page-item {
  border-radius: 0;
  box-shadow: none;
  &.pu-bg-gray-100 {
    background: $theme-color;
    color: #fff !important;
    font-weight: bold;
    a {
      color: #fff !important;
    }
  }
  &.page-link {
    margin: 0 2px;
    border-radius: 0.5rem;
    a {
      &:hover {
        color: $white !important;
      }
    }
    &:hover,
    &:focus {
      background-color: $theme-color;
      border-color: $theme-color;
      a {
        color: $white !important;
      }
    }
  }
  .page-link {
    box-shadow: 0 0.76rem 1.52rem #12263f08;
    border-radius: 0.5rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    color: $base-color;
    &:hover,
    &:focus {
      background-color: $theme-color;
      border-color: $theme-color;
      color: $white;
    }
  }
  &.active {
    .page-link {
      background: $theme-color;
      color: $white;
    }
  }
}
.text-download {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $theme-color;
}

.zns-temp {
  .form-control {
    border: 1px solid #ddd;
  }
  .row {
    @include clearfix();
    margin: 0 -10px;
  }
  [class*='col-'] {
    padding: 0 10px;
    float: left;
  }
  .item-type {
    display: flex;
    flex: 0 0 50%;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 2px solid $border-color;
    border-radius: 0.3rem;
    cursor: pointer;
    position: relative;
    &.active {
      border-color: $theme-color;
      .check {
        display: block;
        svg {
          fill: $green;
        }
      }
    }
    .check {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      display: none;
    }
    .icon-type {
      font-size: 30px;
    }
    .type-name {
      font-weight: bold;
      margin-left: 10px;
      font-size: 18px;
    }
  }
  .zns-content {
    box-shadow: 0 2px 6px 0 rgb(59 130 246 / 50%);
    border-radius: 0.5rem;
    margin: 20px 0;
    padding: 20px;
    font-weight: 500;
    .fw_600 {
      font-weight: bold;
    }
    .zns-content-detail .status-effect {
      font-size: 12px;
      line-height: 20px;
      color: #484a5b;
    }
    .zns-content-detail p {
      font-size: 12px;
      margin-bottom: 4px;
      color: #484a5b;
    }
    .zns-content-detail p:first-child {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;
    }
    .zns-content-detail ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      font-size: 11px;
      margin-top: 16px;
      li {
        display: flex;
        line-height: 16px;
      }
      .key {
        min-width: 100px;
        color: #6c7089;
        word-break: break-word;
        padding-right: 10px;
        font-size: 12px;
        line-height: 20px;
      }
      .value {
        text-align: left;
      }
    }
  }
}

.zns-field {
  .zns-field-header,
  .zns-field-item {
    display: flex;
    margin-bottom: 10px;
    .col {
      width: 50%;
      &:nth-child(3) {
        width: 50px;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .title {
      font-weight: 600;
      font-size: 14px;
    }
    .btn-del {
      @include circle(24px);
      border: 2px solid $red;
      color: $red;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
.zns-package-info {
  .title {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
  .item {
    display: flex;
    align-items: center;
    min-height: 38px;
    border-bottom: 1px solid #ebebeb;

    .item-left {
      width: 120px;
      font-weight: bold;
    }
    .item-right {
      width: calc(100% - 120px);
      margin: 10px 0;
    }
  }
}
.audio-controls {
  @include circle(36px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $theme-color;
  background: $white;
  svg {
    fill: $theme-color;
  }
}
.btn-smart-group {
  display: flex;
  padding: 10px;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  .btn-smart {
    margin-right: 10px;
    cursor: pointer;
  }
}
.box-time {
  margin: 10px auto;
  max-width: 250px;
  .times {
    display: flex;
    justify-content: space-between;
  }
  li {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $theme-color;
    color: $white;
    font-weight: bold;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 0.5rem;
    flex-direction: column;
    box-shadow: 0px 2px 10px rgb(59 130 219 / 50%);
    span {
      &:last-child {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        margin-top: 5px;
      }
    }
  }
}
.box-information {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  border-bottom: 5px solid #ebebeb;
  .photo {
    @include circle(90px);
    margin: 0 auto;
    position: relative;
    padding: 2px;
    border: 2px dashed $theme-color;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    input {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      opacity: 0;
    }
    .edit {
      @include circle(26px);
      display: flex;
      align-items: center;
      justify-content: center;
      background: $theme-color;
      color: $white;
      font-size: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2px;
      border: 1px solid $white;
    }
  }

}
.process-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0px 2px 10px rgb(59 130 219 / 50%);
  color: #222;
  &:before {
    content: '';
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.125) 50%,
      rgba(255, 255, 255, 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 35px 35px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: cssProgressActive 2s linear infinite;
  }
}

@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
.box-form-general {
  .form-control {
    border: 1px solid #ebebeb;
  }
}

//invoices

.invoice-wrapper {
  padding: 20px;
  [class*='col-'] {
    float: left;
  }
  .information {
    padding: 8px 0;
    padding-bottom: 0;
    border-bottom: 1px dashed #ebebeb;
    border-top: 1px dashed #ebebeb;
    &:first-child {
      margin-top: 15px;
    }
  }
  .heading {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }
  .title {
    font-size: 20px;
    font-weight: 600;
  }
  .photo {
    width: 100px;
    position: relative;
  }
  .form-control {
    border: none;
    &.heading {
      padding-left: 0;
      margin: 10px 0;
    }
    &.title {
      padding-left: 0;
    }
    &:hover,
    &:focus {
      background: #fdf4db;
    }

    &:focus {
      border: none;
      box-shadow: none;
    }

    &.white {
      &:hover,
      &:focus {
        color: inherit;
      }
    }
  }
  .flex2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    gap: inherit;
    align-items: center;

    span {
      width: 60px;
      display: block;
      font-weight: 600;
    }
    &.row {
      border: 1px solid #ededed;
    }
    &.flex-end {
      justify-content: flex-end;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }

  .font-left-text {
    width: 160px !important;
  }
  .text-right-price {
    width: 100px !important;
    margin-left: 5px;
  }
  .bg-header {
    background: #ebebeb;
    &.style2 {
      font-weight: bold;
      .p-4-8 {
        padding: 10px 16px;
      }
    }
  }
  .w-48 {
    width: 48%;
  }

  .w-17 {
    width: 17%;
  }

  .w-18 {
    width: 18%;
  }
  .p-4-8 {
    padding: 4px 8px;
  }
  .form-control {
    background: transparent;
  }
  .text-left.font-bold {
    display: inline-block;
    width: 140px;
  }
  .text.flex {
    justify-content: flex-end;
  }
  .text-right {
    .form-control {
      text-align: right;
    }
  }
  .last {
    font-size: 20px;
    background: #fdf4db;
  }
}

.image__file {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.image__upload {
  cursor: pointer;
  font-size: 12px;
  color: #aaa;
  border: 2px dashed #ebebeb;
  display: block;
  width: 100px;
  height: 36px;
  padding: 0;
  outline: none;
  transition: height 0.2s, font-size 0.2s;
  box-shadow: none;
  &:focus,
  &:hover {
    height: 100px;
    font-size: 14px;
  }
}

.image__img {
  display: block;
}

.image__change {
  cursor: pointer;
  font-size: 14px;
  color: #aaa;
  background-color: #222;
  border: 2px dashed #ebebeb;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.95;
  }
}

.image__edit,
.image__remove {
  background: #222;
  background-size: 10px 10px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  width: 26px;
  height: 26px;
  right: -10px;
  top: -10px;
  text-indent: -9999em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: $white;
  cursor: pointer;
  .image:hover &,
  .image:focus-within & {
    opacity: 1;
  }
}

.image__width-wrapper {
  background-color: #fff;
  padding: 10px 20px 25px;
  position: absolute;
  width: 270px;
  top: -70px;
  left: 0;
  border-radius: 4px;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.15);
}

.swatch {
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}
.swatch-color {
  @include circle(30px);
}
.popover {
  position: absolute;
  left: 60px;
  top: 165px;
  z-index: 2;
  .cover-color {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.box-product {
  display: flex;
  .box-upload-photo {
    width: 200px;
  }
  .photo {
    @media (min-width: $screen-md) {
      width: 120px;
      height: 120px;
    }
    width: 60px;
    height: 60px;

    margin-right: 40px;
    border-radius: 50%;
    position: relative;
    border: 2px dashed $theme-color;
    @media (max-width: $screen-xs-max) {
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    input {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      opacity: 0;
    }
    .edit {
      @include circle(26px);
      display: flex;
      align-items: center;
      justify-content: center;
      background: $theme-color;
      color: $white;
      font-size: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2px;
      border: 1px solid $white;
    }
  }
  .info {
    width: calc(100% - 200px);
  }
}
.box-company-accordin{
  padding:0 0 50px 0;
  .accordion__title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    span{
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
.box-infor {
  // border-bottom: 1px dashed #ebebeb;
  box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  margin-bottom: 10px;
  padding-bottom: 10px;

  .row {
    @include clearfix();
    
    margin: 0 -10px;
  }
  [class*='col-'] {
    padding: 0 10px;
    float: left;
    @media(max-width:$screen-xs-max){
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.box-vertical{
  .row {
    @include clearfix();
    margin: 0 -10px;
  }
  [class*='col-'] {
    padding: 0 10px;
    float: left;
  }
  .tabs-list{
    flex-direction: column;
    width: 100%;
    margin:0;
    .tab-item{
        margin-right: 0;
    }
  }
}

.box-infor.box-information{
  background-color: #fff;
  border-radius:0.5rem;
  padding:15px;
  .photo{
    margin: inherit;
  }
}

.tag-role{
  padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
}
.bg-superadmin{
  background: $yl;
  color:$base-color;
}


.bg-admin{
  background: $theme-color;
  color:$white,
}.bg-user{
  background: #ebebeb;
  color:$base-color;
}

.page-permision{
  text-align: center;
  padding:120px 0;
  svg{
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.row-company{
  @include clearfix();
    margin: 0 -10px;
    [class*='col-'] {
      padding: 0 10px;
      float: left;
      margin-bottom: 20px;
      @media(min-width:$screen-xs){
        width: calc(100%/2);
      }
      
      
      @media(min-width:1200px){
        width: 25%;
      }
      @media(min-width:1680px){
        width: 20%;
      }

      @media(max-width:$screen-xs){
        width: 100%;
      }
    }
    
    .box-top{
      display: flex;
      align-items: center;
      border-bottom:1px dashed #ebebeb;
      padding-bottom: 5px;
      margin-bottom: 5px;
      .photo{
        margin-right: 10px;
      }
    }
    .item-inside{
      @include center;
     
      opacity: 0;
      .btn{
        margin-right: 10px;
      }
    }
  .item{
    @include box-shawdow;
    border-radius: 0.5rem;
    background: $white;
    padding:10px;
    position: relative;
    @include transition2;
    &.is-loading {
      height: 170px;


      .box-top {
        background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
        background-size: 200% 100%;
        -webkit-animation: 1.5s shine linear infinite;
        animation: 1.5s shine linear infinite;
        height: 41px;
        border-radius: 5px;
      }
      p{
        height: 21px;
        background: linear-gradient(110deg, #ddd 8%, #ebebeb 18%, #ddd 33%);
        background-size: 200% 100%;
        -webkit-animation: 1.5s shine linear infinite;
        animation: 1.5s shine linear infinite;
        border-radius: 5px;
      }
    }
    &:hover{
      .item-inside{
        
        opacity: 1;
        @include transition2;
      }
    }
    &:hover{
      &:before{
        content:'',
        
      }
    }
    p{
      margin-bottom: 5px;
      font-weight: 500;
    }
    .photo{
      @include circle(30px);
      margin-bottom: 5px;
      border:1px solid #ebebeb;
      img{
        width: 100%;
        height: 100%;
        border-radius:50%;
      }
    }
    .name{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .font-semibold{
      color: $body-color;
    }
    .status{
      @include circle(8px);
      position: absolute;
      right:15px;
      top:22px;
      
      &.is_success{
        background: $green;
      }
      &.is_error{
        background: $error;
      }
    }
    .more-drp {
      margin-left: auto;
    }
    input:checked~span:not(.custom-checkbox__checkmark){
      border:1px solid $theme-color;
      border-radius: 0.5rem;
    }
    .custom-checkbox{
      .custom-checkbox__checkmark{
        margin-left: 0;
      }
      span:not(.custom-checkbox__checkmark){
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        
      }
    }
  }
}
.more-drp {
  position: relative;
  .btn-more{
    
    @include circle(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    &:hover,&:focus{
      background: #eee;
    }
  }
  .dropdown-menu {
    background: #fff;
    border: 1px solid #d4d8dd;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgba(161,172,184,.45);
    display: none;
    font-size: 0.875rem;
    min-width: 190px;
    padding: 8px 15px;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 20;
    text-align: left;
    &.active {
      webkit-animation-fill-mode: both;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
      display: block;
    }
  }
  .dropdown-item {
    padding: 5px 0;
    &.last{
      margin-top:8px;
      padding-top: 8px;
      border-top: 1px solid $border-line;
    }
    >a, >span {
      &:hover{
        color: $theme-color;
      }
    }
    div >a, div >span {
      width: 100%;
      display: block;
      // font-weight: 600;
      
      
      cursor: pointer;
      &:hover{
        color: $theme-color;
      }
    }
    svg {
      width: 17px;
      margin-right: 7px;
      height: 17px;
    }
  }

}

.flex.btn-group{
  @media(max-width:$screen-xs){
    flex-direction: column;
  }
  .btn{
    margin-bottom: 10px;
  }
}
.btn-table-group{
  @media(max-width:$screen-xs){
    flex-direction: column;
  }
  .input-search{
    width: 100%;
  }
}

// chart
.chart{
  box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  background: $white;
  border-color: $border-line;
  padding: 15px 0;
  border-radius:0.5rem;
  @include clearfix();
  @media(min-width:$screen-sm){
    margin: 0 -10px;
    padding: 30px 10px;
  }
    [class*='col-'] {
      padding: 0 10px;
      @media(min-width:$screen-sm){
      float: left;
      }
      @media(max-width:$screen-xs-max){
        width: 100%;
        }
      &:first-child{
        .card-separator{
          @media(min-width:$screen-sm){
            border-right:1px solid $border-line;
          }
        }
      }
    }
}
.card-separator{
  .cart-title{
    display: flex;
  justify-content: space-between;
  }
}

.custom-shawdow{
  box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
}