/* .menu-vertical{
    border-radius: 100px;
    color:'red';
   overflow: auto;
   overflow: -moz-scrollbars-none;
   -ms-overflow-style: none;
}
.menu-vertical::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  } */